<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>playName</key>
		<string>The Fact</string>
		<key>quotations</key>
		<array>
			<dict>
				<key>character</key>
				<string>Romans 1:19 God created the world</string>
				<key>nrows</key>
				<integer>5</integer>
				<key>quotation</key>
				<string>For since the creation of the world His invisible attributes are clearly seen, being understood by the things that are made, even His eternal power and Godhead, so that they are without excuse, because, although they knew God, they did not glorify Him as God, ...</string>
				<key>scene</key>
				<integer>23</integer>
			</dict>
			<dict>
				<key>character</key>
				<string>Romans 3:23</string>
				<key>nrows</key>
				<integer>4</integer>
				<key>quotation</key>
				<string>For all have sinned, and come short of the glory of God.                                                                                      We have all sinned and do not deserve the glory of God. </string>
				<key>scene</key>
				<integer>23</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>playName</key>
		<string>The Consequence</string>
		<key>quotations</key>
		<array>
			<dict>
				<key>character</key>
				<string>Romans 6:23</string>
				<key>nrows</key>
				<integer>3</integer>
				<key>quotation</key>
				<string>For the wages of sin is death; but the gift of God is eternal life through Jesus Christ our Lord.
</string>
				<key>scene</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>playName</key>
		<string>The Love</string>
		<key>quotations</key>
		<array>
			<dict>
				<key>character</key>
				<string>Romans 5:8</string>
				<key>nrows</key>
				<integer>3</integer>
				<key>quotation</key>
				<string>But God demonstrates His love toward us, in that, while we were still sinners, Christ died for us.
</string>
				<key>scene</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>playName</key>
		<string>The Way</string>
		<key>quotations</key>
		<array>
			<dict>
				<key>character</key>
				<string>Romans 10:13</string>
				<key>nrows</key>
				<integer>3</integer>
				<key>quotation</key>
				<string>For whoever calls on the name of the LORD shall be saved.                                                          </string>
				<key>scene</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>character</key>
				<string>Romans 10:9</string>
				<key>nrows</key>
				<integer>7</integer>
				<key>quotation</key>
				<string>That if you confess with your mouth the Lord Jesus and believe in your heart that God has raised Him from the dead, you will be saved. For with the heart one believes unto righteousness, and with the mouth confession is made unto salvation.</string>
				<key>scene</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
