<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Family1</key>
	<string>Family1.pdb</string>
	<key>Family2</key>
	<string>Family2.pdb</string>
	<key>神家詩歌 3</key>
	<string>Family3.pdb</string>
	<key>神家詩歌 4</key>
	<string>Family4.pdb</string>
	<key>神家詩歌 5</key>
	<string>Family5.pdb</string>
	<key>神家詩歌 6</key>
	<string>Family6.pdb</string>
</dict>
</plist>
